<div class="w-11/12 px-4 mx-auto mt-4">
  <article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl" ngPreserveWhitespaces markdown
           [src]="'assets/project/demo.md'" (load)="onLoad($event)" (error)="onError($event)">
  </article>
</div>
<!--<markdown *ngFor="let item of detail.text" class="prose grid grid-cols-1 gap-4 mt-4 text-base tracking-widest text-gray-100 variable-binding md:grid-cols-12 md:text-lg"
          [data]="item"></markdown>-->
<!--<markdown *ngFor="let item of detail.text"
          [data]="item"></markdown>-->
<!--<article class="prose prose-lg">
  <h1>Garlic bread with cheese: What the science tells us</h1>
  <p>
    For years parents have espoused the health benefits of eating garlic bread with cheese to their
    children, with the food earning such an iconic status in our culture that kids will often dress
    up as warm, cheesy loaf for Halloween.
  </p>
  <p>
    But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
    springing up around the country.
  </p>
</article>-->
